{% extends 'base.html.twig' %}
{% block title %}
    Проект
{% endblock %}
{% block body %}
    <div class="project">
        <div class="container">
            <div class="col-lg-9 project-header">
                <h3>Молодіжний IT-фестіваль Vesna-Soft</h3>
            </div>
            <div class="col-sm-7 project-info-left">
                <img src="images/photo.png" class="img-responsive" alt=""/>
            </div>
            <div class="col-sm-5 project-info-right">
                <p>
                    Твій вклад в розвиток сильного і відкритого суспільства, де ти можеш зібрати гроші на проект.
                    Знайди стартовий капітал для соціального бізнесу, гроші на розробку винаходу, зйомку фільма та інше.
                    Стань співзасновником добрих справ - підтримай коштами кращі проекти.
                </p>
                <div class="text-center">
                    <a href="#" class="btn-back">Фондувати</a>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100000" aria-valuemin="0" aria-valuemax="120000" style="width:83.3%">
                        100.000/120.000
                    </div>
                </div>
                <ul>
                    <li><p>&#8372;1.000.000</p><p>зібрано</p></li>
                    <li><p>10532</p><p>доброчинців</p></li>
                    <li><p>100 днів</p><p>залишилось</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mar-b-50">
        <div class="tabs_holder">
            <ul>
                <li class="tab_selected"><a href="#history">Історія</a></li>
                <li><a href="#news">Оновлення</a></li>
                <li><a href="#team">Команда</a></li>
                <li><a href="#backers">Внески</a></li>
                <li><a href="#comments">Коментарі</a></li>
            </ul>
            <div class="content_holder">
                <div id="history" class="container">
                    <div class="col-lg-12">
                        <p style="font-size: 18pt; text-align: center">Молодіжний IT-фестіваль Vesna-Soft</p>
                        <p style="text-align: center">
                            Твій вклад в розвиток сильного і відкритого суспільства, де ти можеш зібрати гроші на проект.
                            Знайди стартовий капітал для соціального бізнесу, гроші на розробку винаходу, зйомку фільма та інше.
                            Стань співзасновником добрих справ - підтримай коштами кращі проекти.
                        </p>
                        <p style="text-align: center">
                            Твій вклад в розвиток сильного і відкритого суспільства, де ти можеш зібрати гроші на проект.
                            Знайди стартовий капітал для соціального бізнесу, гроші на розробку винаходу, зйомку фільма та інше.
                            Стань співзасновником добрих справ - підтримай коштами кращі проекти.
                        </p>
                        <img src="images/history-photo.png" class="img-responsive">
                        <br>
                        <p style="text-align: left; font-size: 16pt">
                            Де і коли проходить фестиваль?
                        </p>
                        <p style="text-align: justify">
                            Твій вклад в розвиток сильного і відкритого суспільства, де ти можеш зібрати гроші на проект.
                            Знайди стартовий капітал для соціального бізнесу, гроші на розробку винаходу, зйомку фільма та інше.
                            Стань співзасновником добрих справ - підтримай коштами кращі проекти.
                        </p>
                    </div>
                </div>
                <div id="news" class="container">
                    <div class="timeline timeline-style-7 alternate">
                        <div class="timeline-block odd-item">
                            <div class="timeline-img"> <span></span> </div>
                            <div class="timeline-content">
                                <div class="timeline-content-inner"><span class="date">12:00</span>
                                    <h2>Заголовок новини</h2>
                                    <p>Текст</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-block even-item">
                            <div class="timeline-img"> <span></span> </div>
                            <div class="timeline-content">
                                <div class="timeline-content-inner"><span class="date">24.05.2017 09:30</span>
                                    <h2>Заголовок новини</h2>
                                    <p>Текст новини</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-block odd-item">
                            <div class="timeline-img"> <span></span> </div>
                            <div class="timeline-content">
                                <div class="timeline-content-inner"><span class="date">12:00</span>
                                    <h2>Заголовок новини</h2>
                                    <p>Текст</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-block even-item">
                            <div class="timeline-img"> <span></span> </div>
                            <div class="timeline-content">
                                <div class="timeline-content-inner"><span class="date">24.12.2017 09:30</span>
                                    <h2>Заголовок новини</h2>
                                    <p>Текст новини</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="team" class="container">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="team-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="text-center">
                                <a href="#"><i class="fa fa-envelope"></i><span style="margin-left: 2%">KittyCat@hotmail.com</span></a>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h3>
                                <p class="text-center">
                                    Автор проекту
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="team-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="text-center">
                                <a href="#"><i class="fa fa-envelope"></i><span style="margin-left: 2%">KittyCat@hotmail.com</span></a>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h3>
                                <p class="text-center">
                                    Автор проекту
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="team-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="text-center">
                                <a href="#"><i class="fa fa-envelope"></i><span style="margin-left: 2%">KittyCat@hotmail.com</span></a>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h3>
                                <p class="text-center">
                                    Автор проекту
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="backers" class="container">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <p class="text-center">
                                    <i>Підтримав 32 проекти</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <img src="images/no-ava.png" alt="">
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    Анонімно
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <p class="text-center">
                                    <i>Підтримав 32 проекти</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <img src="images/no-ava.png" alt="">
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    Анонімно
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <p class="text-center">
                                    <i>Підтримав 32 проекти</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <img src="images/no-ava.png" alt="">
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    Анонімно
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <p class="text-center">
                                    <i>Підтримав 32 проекти</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <img src="images/no-ava.png" alt="">
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    Анонімно
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <a href="#"><img src="images/profile-photo.jpg" alt=""></a>
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    <a href="#">Kitty Cat</a>
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <p class="text-center">
                                    <i>Підтримав 32 проекти</i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="backer-image">
                                <img src="images/no-ava.png" alt="">
                            </div>
                            <div class="caption">
                                <h4 class="text-center">
                                    Анонімно
                                </h4>
                                <h3 class="text-center">
                                    100.000 &#8372;
                                </h3>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comments" class="container">
                    Some content tab 2
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('.tabs_holder').skinableTabs({
                effect: 'fade_slide_down',
                skin: 'skin3',
                position: 'top'
            });
        </script>
    </div>
{% endblock %}